<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/css/main.css">
    <link rel="stylesheet" href="./public/css/bootstrap.min.css"/>
{#    <link rel="stylesheet" href="./public/css/select2.min.css"/>#}
    <link rel="shortcut icon" href="./public/icons/favicon.ico">
    <title>WarframeMarketer</title>
</head>
<body>
<div id="content"></div>
<script src="./public/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="./public/js/bootstrap.min.js" type="text/javascript"></script>
{#<script src="./public/dist/select2.min.js" type="text/javascript"></script>#}
<script src="./public/dist/bundle.js" type="text/javascript"></script>
</body>
</html>