{% extends "base.html" %}

{% block styles %}
    <title>WarframeMarleter</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Warframe Market proto</h1>
        <p>Get the best relic to sell at any given time</p>
        <h3 style="color: orange"><b>⚠ Work in progress ⚠</b></h3>
        <p>Had to write it right ?</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-9 mx-auto">
                <form action='/itemsList' method="post">
                    <label {% if error_refinement %} style="color: red" {% endif %} for="refinement">Refinement</label>
                    <select style="width: 100%" id="refinement" class="js-select2" name="refinement" multiple>
                        {% for refin in data.void_relics.refinement %}
                            <option value={{ refin }} {% if prev_data and refin in prev_data['refinement'] %} selected {% endif %}>{{ refin }}</option>
                        {% endfor %}
                    </select>
                    <label {% if error_relic_name %} style="color: red" {% endif %} for="relic_name">Name</label>
                    <div class="container" id="relic_name">
                        <label for="relic_name_lith"><b>Lith</b></label>
                        <div class="row" id="relic_name_lith">
                            {% for relic in data.void_relics.lith %}
                                <div class="col">
                                    <input class="form-check-input active" type="checkbox" value="lith_{{ relic }}"
                                           id="lith_{{ relic }}" name="relic_name"
                                            {% if prev_data and ('lith_' + relic) in prev_data['relic_names'] %}
                                           checked="checked" {% endif %}>
                                    <label class="form-check-label" for="lith_{{ relic }}">
                                        {{ relic }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <label for="relic_name_meso"><b>Meso</b></label>
                        <div class="row" id="relic_name_meso">
                            {% for relic in data.void_relics.meso %}
                                <div class="col">
                                    <input class="form-check-input active" type="checkbox" value="meso_{{ relic }}"
                                           id="meso_{{ relic }}" name="relic_name"
                                            {% if prev_data and ('meso_' + relic) in prev_data['relic_names'] %}
                                           checked="checked" {% endif %}>
                                    <label class="form-check-label" for="meso_{{ relic }}">
                                        {{ relic }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <label for="relic_name_neo"><b>Neo</b></label>
                        <div class="row" id="relic_name_neo">
                            {% for relic in data.void_relics.neo %}
                                <div class="col">
                                    <input class="form-check-input active" type="checkbox" value="neo_{{ relic }}"
                                           id="neo_{{ relic }}" name="relic_name"
                                            {% if prev_data and ('neo_' + relic) in prev_data['relic_names'] %}
                                           checked="checked" {% endif %}>
                                    <label class="form-check-label" for="neo_{{ relic }}">
                                        {{ relic }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <label for="relic_name_axi"><b>Axi</b></label>
                        <div class="row" id="relic_name_axi">
                            {% for relic in data.void_relics.axi %}
                                <div class="col">
                                    <input class="form-check-input active" type="checkbox" value="axi_{{ relic }}"
                                           id="axi_{{ relic }}" name="relic_name"
                                            {% if prev_data and ('axi_' + relic) in prev_data['relic_names'] %}
                                           checked="checked" {% endif %}>
                                    <label class="form-check-label" for="axi_{{ relic }}">
                                        {{ relic }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="button" class="btn btn-info" id='check_all'>Check All</button>
                    `
                    <button type="button" class="btn btn-info" id='uncheck_all'>Uncheck All</button>
                    `
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
    {% include 'relics_table.html' %}
    <script>
        $(document).ready(function () {
            $('#refinement').select2({
                placeholder: "Select",
                allowClear: true
            });
            $('#check_all').click(function () {
                $('input[name=relic_name]').prop('checked', true);
            });
            $('#uncheck_all').click(function () {
                $('input[name=relic_name]').prop('checked', false);
            });
        });
    </script>
{% endblock %}
